.header{
    display: flex;
    align-items: center;

}
.app-name{
    font-family: sans-serif;
    font-size:5vh;
    font-weight: bolder;
    margin-right: 10px;
}
.logo{
    height: 13vh;
    width: 13vw;
}
.search-input{
    width: 50%;
}